/*global css*/
*{font-family:'微软雅黑',Arial, Helvetica, sans-serif; -webkit-text-size-adjust:none; /*_behavior:url(/iepng/iepngfix.htc);*/}
td,th,div,input,select,textarea,li,ol,dt,dd,h1,h2,h3,h4,h5,h6{font-size:12px; color:#333; background:none;}
font{font-size:12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote{padding:0; margin:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;line-height:1.2;}
li{list-style-type:none;}
img{border:none;}
.line{border-bottom:1px dashed #ccc; height:1px; overflow:hidden;}
.border{border:1px solid #ccc;}
.warp{ width:95%; margin:0 auto;}
.dis{ display:none;}
.relative{ position:relative;}
.absolute{ position:absolute;}
.fl{ float:left;}
.fr{ float:right;}
.w1200{ width:1200px; margin:0 auto;}
.over{ overflow:hidden;}
input:-webkit-autofill{ background-color:0;}
.btn-blue {float: left;width: 134px;color: #fff; font-family: "Microsoft YaHei";  cursor: pointer;  height: 40px;  line-height: 38px;  display: inline-block;  background-color: #4a9cdb;  border: 1px solid #438acd;  font-size: 16px;  transition: all .3s ease-in-out;  -webkit-transition: all .3s ease-in-out;  -moz-transition: all .3s ease-in-out;  -o-transition: all .3s ease-in-out;  -ms-transition: all .3s ease-in-out;}

/*文字大小，颜色，行距定义 fz:font-size；fc:font-color；flh:font-line-height*/
.fz_12px{font-size:12px;}
.fz_14px{font-size:14px;}
.fz_16px{font-size:16px;}
.fc_red{color:#ff0000;}
.fc_gory{color:#666;}
.fc_organ{ color:#FC0 !important;}
.fc_white{color:#fff;}
.fc_yellow{color:#ff6600;}
.flh_150{line-height:150%;}
.flh_180{line-height:180%;}

.mR42{ margin-right:42px;}
.translate{transition:all 600ms ease 0s;-webkit-transition:all 600ms ease 0s;}


.round { -moz-border-radius: 5px;      /* Gecko browsers */ -webkit-border-radius: 5px;   /* Webkit browsers */ border-radius:5px; /* W3C syntax */}

.shadow{-webkit-box-shadow:0 0 10px rgba(0, 204, 204, .5);  -moz-box-shadow:0 0 10px rgba(0, 204, 204, .5);   box-shadow:0 0 10px rgba(0, 204, 204, .5);}

/*form*/
.form_input{border:1px solid #ccc; color:#333; background:url(/images/lib/global/input_bg.gif) #fff repeat-x; height:20px; line-height:20px;}
.form_area{border:1px solid #ccc; color:#333; background:url(/images/lib/global/input_bg.gif) #fff repeat-x; line-height:180%;}
.form_button{border:none; background:#505050; color:#fff; height:22px; line-height:22px; padding:0 5px; overflow:hidden; width:80px;}
.form_button_130{width:130px;}
.form_focus{border-color:red;}
.form_gory_button{border:none; background:url(/images/lib/global/button_grey.gif); width:110px; height:25px; line-height:25px; font-weight:bold; color:#555; text-align:center;}
select.form_focus{background:#ccc;}

/* padding */
.clear{margin:0px auto; clear:both; height:0px; font-size:0px; overflow:hidden;}
.blank3{margin:0px auto; clear:both; height:3px; font-size:1px; overflow:hidden;}
.blank6{margin:0px auto; clear:both; height:6px; font-size:1px; overflow:hidden;}
.blank8{margin:0px auto; clear:both; height:8px; font-size:1px; overflow:hidden;}
.blank9{margin:0px auto; clear:both; height:9px; font-size:1px; overflow:hidden;}
.blank12{margin:0px auto; clear:both; height:12px; font-size:1px; overflow:hidden;}
.blank15{margin:0px auto; clear:both; height:15px; font-size:1px; overflow:hidden;}
.blank18{margin:0px auto; clear:both; height:18px; font-size:1px; overflow:hidden;}
.blank20{margin:0px auto; clear:both; height:20px; font-size:1px; overflow:hidden;}
.blank25{margin:0px auto; clear:both; height:25px; font-size:1px; overflow:hidden;}
.blank26{margin:0px auto; clear:both; height:26px; font-size:1px; overflow:hidden;}
.blank30{margin:0px auto; clear:both; height:30px; font-size:1px; overflow:hidden;}
.blank33{margin:0px auto; clear:both; height:33px; font-size:1px; overflow:hidden;}
.blank35{margin:0px auto; clear:both; height:35px; font-size:1px; overflow:hidden;}
.blank42{margin:0px auto; clear:both; height:42px; font-size:1px; overflow:hidden;}
.blank50{margin:0px auto; clear:both; height:50px; font-size:1px; overflow:hidden;}
.blank63{margin:0px auto; clear:both; height:63px; font-size:1px; overflow:hidden;}

/*a*/
a{color:#333; text-decoration:none;}
a:hover{color:#ff6600; text-decoration:underline;}
a.red{color:red; text-decoration:none;}
a.red:hover{color:red; text-decoration:underline;}

/*turn page*/
#turn_page{text-align:center; height:30px; line-height:26px;}
#turn_page .page_button{background:#fff; margin:0 3px; padding:7px 34px; background:url(/images/page_pre.jpg) no-repeat center center;}
#turn_page .page_button:hover{ color:#0470b9; text-decoration:none;}
#turn_page .page_button.second{background:url(/images/page_next.jpg) no-repeat center center;}
#turn_page .page_item{ border:1px solid #0071be; padding:6px 10px; margin:0 3px;}
#turn_page .page_item_current{background:#0071be;border:1px solid #0071be; padding:6px 10px; margin:0 3px; color:#fff;}

/*垂直居中特别鸣谢肛教授*/
.PicPath{ text-align:center; display:block; font-size:0px;}
.PicPath span{ display:inline-block; height:100%; vertical-align:middle;}
.PicPath img{ vertical-align:middle;}

